@using Blazor.Extensions.Canvas
@inherits SceneComponent

<div class="battle">
  <div class="picture" @ref="PictureContainer">
    <BECanvas @ref="PictureCanvasRef"></BECanvas>  
  </div>
  <div class="hud">
    <BECanvas @ref="HudCanvasRef"></BECanvas>
  </div>
</div>