@using LatronArs.WebClient.Pages.Scene
@using LatronArs.Models.Enums
@inherits LayoutComponentBase
@inject LatronArs.WebClient.Services.Interfaces.IGameService _gameService

<div class="container">
    @if (State == GameState.Playing)
    {
        <Scene/>
    }
    else
    {
        <span>Not working</span>
    }
</div>

@code {

    GameState State => _gameService.State;    

}